html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #000;
    /*font: normal normal 20px/1 'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;*/
    background-color: #FFF;
    font-size: 1.5em;
    /*line-height: 0.5;*/
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
  font-family: 'Helvetica';
  font-weight: bolder;
}

h1 {
    font-family: 'Helvetica';
    font-size: 3.5em;
    font-weight: bolder;
    margin-bottom: 4vw;
}

.typedelem {
    font-family: 'Helvetica';
    font-size: 3.5vw;
    margin-bottom: 4vw;
}

h2 {
    font-family: 'Helvetica';
    font-size: 2.5em;
    margin-bottom: 4vw;
    text-align: center;
    font-weight: bolder;
}

#home {
    padding: 2vw;
}

.name {
    font-family: 'Carter One';
    /*-webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 10s infinite;
    animation: color-change 10s infinite;*/
    color: black;
    text-align: center;
    font-size: 4em;
    /*margin-bottom: 40px;*/
    /*font-weight: bold;*/
    /*margin-top: 20px;*/
    /*padding: 20px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Helvetica';
    /*-webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 10s infinite;
    animation: color-change 10s infinite;*/
    color: grey;
    width: 60px;
    text-align: center;
    font-size: 1em;
    /*margin-bottom: 40px;*/
    /*font-weight: bolder;*/
    /*margin-top: 20px;*/
    /*padding: 20px;*/
}

li {
    padding: 10px;
    display: inline;
    color: grey;
    width: 60px;
    text-align: center;
    font-size: 1em;
}

.navbar {
    padding: 15px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: blue;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.name:hover {
    text-decoration: none;
    color: blue;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}



/*@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: #FF4500; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: #FF4500; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: #FF4500; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: #FF4500; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: orangered; }
    100% { color: red; }
}*/

/*.name:hover {
    color: gray;
}*/

p {
    /*line-height: 1.6em;*/
    margin-bottom: 1.2em;
}

table {
  width: 100%;
  table-layout: fixed;
  /*word-wrap: break-word;*/
  /*padding: 30px;*/
  /*font-family:*/
  /*font-family: 'Helvetica';*/
}

tr {
  /*background: #111;*/
}

th, td {
      font-family: "Open Sans";
}

th {
  text-align: left;
  font-family: 'Helvetica';
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: bold;
}

td {
  /*color: #ccc;*/
  font-size: 30px;
  padding-bottom: 2vw;
  line-height: 150%;
  vertical-align: top;
}

.back {
  padding: 2vw;
  text-align: center;
  font-family: 'Helvetica';
  font-size: 3vw;
  color: black;
}
